---
title: Planetary Playing Cards
layout: planet.liquid
---

<h1>Planetary Playing Cards</h1>

<div class="grid-container">
    {% for planet in planets %}
        {% include 'planet.liquid' planet %}
    {% endfor %}
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
    ScrollReveal().reveal('.card', {
        duration: 1000,
        origin: 'bottom',
        distance: '50px',
        easing: 'ease-in-out'
    });
</script>
