<h1>Planetary Playing Cards</h1>

<h2>Sun</h2>
<p>Type G2V</p>

<h2 class="planet mercury">Mercury</h2>
<p>0.39 AU</p>

<h2 class="planet venus">Venus</h2>
<p>0.72 AU</p>

<h2 class="planet earth">Earth</h2>
<p>1.00 AU</p>

<h2 class="planet mars">Mars</h2>
<p>1.52 AU</p>

<h2 class="planet jupiter">Jupiter</h2>
<p>5.20 AU</p>

<h2 class="planet saturn">Saturn</h2>
<p>9.58 AU</p>

<h2 class="planet uranus">Uranus</h2>
<p>19.22 AU</p>

<h2 class="planet neptune">Neptune</h2>
<p>30.05 AU</p>
