body {
    background-color: black;
    color: white;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .planet {
    font-weight: bold;
  }
  
  .mercury { color: gray; }
  .venus { color: orange; }
  .earth { color: blue; }
  .mars { color: red; }
  .jupiter { color: brown; }
  .saturn { color: goldenrod; }
  .uranus { color: lightblue; }
  .neptune { color: darkblue; }
  